<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <a href="/rescue"><button type="button" class="button">Rescue Me</button></a>
            </header>
            <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/food">Food</a></li>
                <li><a href="/shelter">Shelter</a></li>
                <li><a href="/clothing">Clothing</a></li>
                <li><a href="/water">Water</a></li>
                <li><a href="/medicalCare">Medical Care</a></li>
                <li><a href="/sanitation">Sanitation</a></li>
            </ul>
        </nav>

        <section>
            <header class="major">
                <h2 style="padding-bottom: 10px;">Get in touch</h2>
            </header>
            <ul class="contact">
                <li class="fa-envelope-o"><a href="#">innotechproject@3rdYear</a></li>
                <li class="fa-phone">(987) 654-3210</li>
                <li class="fa-home">Room No. 407,Block-E<br />CSE Deptt.</li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy;All rights are reserved.</p>

        </footer>

    </div>
</div>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script>
    var map = new L.Map('map').fitWorld();

    var mb = L.tileLayer.mbTiles('mbtiles/new-delhi.mbtiles', {
        minZoom: 0,
        maxZoom: 14
    }).addTo(map);
    map.setView(new L.LatLng(28.57600, 77.21250), 10);

    mb.on('databaseloaded', function(ev) {
        console.info('MBTiles DB loaded', ev);
    });
    mb.on('databaseerror', function(ev) {
        console.info('MBTiles DB error', ev);
    });

    getLocation();
    var doc = document.querySelector("#name").value;
    doc = JSON.parse(doc);
    var str1 = '';
    var arr = [];
    for (var i = 0; i < doc.length; i++) {
        var str = "<h3>" + doc[i].campname + '</h3><br><b>' + doc[i].address + "," + doc[i].pincode + "</b>";
        arr.push([doc[i].location.lat, doc[i].location.lon]);

        L.marker([doc[i].location.lat, doc[i].location.lon]).addTo(map).bindPopup(str).openPopup();
        str1 += '<div class="panel"><div class="camp-heading"><h3><a href="#"><span class="icon"><i class="fas fa-building">' + doc[i].campname + '</i></span></a></h3></div><span><ul>' + doc[i].address + "," + doc[i].pincode + '</ul></span></div>';

    }
    var div = document.createElement('div');
    div.className = 'row';
    div.innerHTML = str1
    document.querySelector('.data').appendChild(div);

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
    }

    function showPosition(position) {
        var lat = position.coords.latitude;
        console.log(lat);
        var lon = position.coords.longitude;
        console.log(lon);
        L.marker([lat, lon]).addTo(map).bindPopup("<b>your location</b>").openPopup();
        console.log(lat, lon);
        for (var j = 0; j < arr.length; j++) {
            var latlons = [arr[j],
                [lat, lon]
            ]
            var polyline = L.polyline(latlons, {
                color: 'red'
            }).addTo(map);
            map.fitBounds(polyline.getBounds());
        }
    }
</script>
</body>
</html>
