<!DOCTYPE HTML>
<html>

<head>
    <title>Project Name</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header" class="topnav">
                    <span>
                        <a href="/" class="logo">
                            <strong>Home</strong> Page
                        </a></span>
                    <span>
                        <a href="/rescue"><button type="button" class="redbutton" style="float:right;">Rescue Me</button>
                        </a></span>
                </header>

                <!-- Section -->