<% include partials/header1 %>
    <!-- <div class="chat"> -->
    <div class="chat__main">
        <ol id="messages" class="chat__messages" style="
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        "></ol>

        <form id="message-form">
            <div class="chat__footer"">
                <input name="name" type="text" placeholder="name" autofocus autocomplete="off" />
                <input name="message" type="text" placeholder="Message" autofocus autocomplete="off" />
                <button>Send</button>
                <button id="send-location">Send location</button>
            </div>
        </form>
    </div>

    <script id="message-template" type="text/template">
        <li class="message">
            <div class="message__title">
                <h4>{{from}}</h4>
                <span>{{createdAt}}</span>
            </div>
            <div class="message__body">
                <p>{{text}}</p>
            </div>
        </li>
    </script>

    <script id="location-message-template" type="text/template">
        <li class="message">
            <div>
                <h4>{{from}}</h4>
                <span>{{createdAt}}</span>
            </div>
            <div class="message__body">
                <p style="margin:1px 0px 0px 0px;">
                    <h5>{{msg}}</h5>
                    <a href="{{url}}" target="_blank">My current location</a>
                </p>
            </div>
        </li>
    </script>
    <!-- </div> -->
    <% include partials/footer1 %>