<% include partials/header %>
    <section style="padding-top:20px;padding-bottom:20px;">
        <div class="content">
            <h3><i class="fas fa-clipboard-list" style="color:blue;">List</i><i class="fas fa-map-marked-alt" style="color:green;">Map</i></h3>
        </div>
    </section>
    <% include partials/map %>
        <section class="data">
            <h2>Relief Camps</h2>

        </section>
        </div>
        </div>
        <input hidden type="text" id="name" value="<%= data%>">

        <% include partials/footer %>