<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Camp Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.less">
    <link rel="stylesheet" href="assets/scss/style.css">
</head>

<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <h1 style="color:white;">Camp Login</h1>
                </div>
                <div class="login-form">
                    <form action="/login" method="POST">
                        <label>Camp ID</label>
                        <input type="text" name="campid" class="form-control" placeholder="CAMP ID">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <button type="submit" class="btn btn-success btn-flat" style="margin-top:10px;">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% if(verified===0){ %>
        <h1>name and password not right</h1>
        <%}%>

            <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
            <script src="assets/js/popper.min.js"></script>
            <script src="assets/js/plugins.js"></script>
            <script src="assets/js/main.js"></script>


</body>
</html>
