<% include partials/header %>
    <section>
        <div class="features">
            <!-- Features -->
            <div class="item-list">
                <a class="item" href="/shelter">
                    <span><i class="fas fa-home fa-3x" style="color:#0F990F;"></i></span>
                    <div class="title" style="color:#0F990F">Shelter</div>
                </a>
                <a class="item" href="/medicalCare">
                    <span><i class="fas fa-briefcase-medical fa-3x" style="color:#F51616"></i></span>
                    <div class="title" style="color:#F51616">Medical Care</div>
                </a>
                <a class="item" href="/water">
                    <span><i class="fas fa-tint fa-3x" style="color:#49ACD3"></i></span>
                    <div class="title" style="color:#49ACD3">Water</div>
                </a>
                <a class="item" href="/food">
                    <span><i class="fas fa-utensils fa-3x" style="color:#424949"></i></span>
                    <div class="title" style="color:#424949">Food</div>

                </a>
                <a class="item" href="/sanitation" style="padding-bottom:21px">
                    <span><img src="\Sanitation.png" style="width:35px;margin-left:0px;margin-bottom:0px"></span>
                    <div class="title">Sanitation</div>

                </a>
                <a class="item" href="/clothing">
                    <span><i class="fas fa-tshirt fa-3x" style="color:#5499C7"></i></span>
                    <div class="title" style="color:#5499C7">Clothing</div>
                </a>
            </div>
        </div>
    </section>
    </div>
    </div>


    <% include partials/footer %>