<% include partials/header %>
<section style="padding-top:20px;padding-bottom:20px;">
    <div class="content">
        <a href="/medicalCare">
            <button type="button" name="button" class="lm-button">
            <span><i class="fas fa-clipboard-list" style="color:blue;">List</i></span>
        </button>
        </a>
        <a href="#">
            <button type="button" name="button" class="lm-button">
            <span><i class="fas fa-map-marked-alt" style="color:green;">Map</i></span>
        </button>
        </a>
    </div>
</section>
<% include partials/map %>
<section>
  <h2>Relief Camps</h2>
   <div class="panel">
     <div class="camp-heading">
       <h3><a href="#"><span class="icon"><i class="fas fa-building"></i>Khurana Hospital</span></a></h3>
     </div>
     <span><ul>Address: Muradnagar,Ghaziabad Pincode:201206 Availability:150</ul></span>
  </div>
  <div class="panel">
    <div class="camp-heading">
      <h3><a href="#"><span class="icon"><i class="fas fa-building"></i>Tyagi Hospital</span></a></h3>
    </div>
    <span><ul>Address: Muradnagar,Ghaziabad Pincode:201206 Availability:200</ul></span>
 </div>
 <div class="panel">
   <div class="camp-heading">
     <h3><a href="#"><span class="icon"><i class="fas fa-building"></i>Sharma Hospital</span></a></h3>
   </div>
   <span><ul>Address: Muradnagar,Ghaziabad Pincode:201206 Availability:190</ul></span>
</div>
<div class="panel">
  <div class="camp-heading">
    <h3><a href="#"><span class="icon"><i class="fas fa-building"></i>Mishra Hospital</span></a></h3>
  </div>
  <span><ul>Address: Muradnagar,Ghaziabad Pincode:201206 Availability:300</ul></span>
</div>
</section>
    </div>
    </div>

    <% include partials/footer %>
