<% include partials/header %>
<section style="padding-top:20px;padding-bottom:20px;">
    <div class="content">
        <a href="/medicalCare">
            <button type="button" name="button" class="lm-button">
            <span><i class="fas fa-clipboard-list" style="color:blue;">List</i></span>
        </button>
        </a>
        <a href="#">
            <button type="button" name="button" class="lm-button">
            <span><i class="fas fa-map-marked-alt" style="color:green;">Map</i></span>
        </button>
        </a>
    </div>
</section>
    </div>
    </div>

    <% include partials/footer %>
