<% include partials/header1 %>
    <h2>People</h2>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

    <table id="myTable">
        <tr class="header">
            <th style="width:25%;">Name</th>
            <th style="width:25%;">Message</th>
            <th style="width:25%;">Day/Date</th>
            <th style="width:25%;">Status</th>

        </tr>
        <%for(var i=0;i<data.length;i++){%>

            <tr>
                <td>
                    <%=data[i].username%>
                </td>
                <td>
                    <%=data[i].message%>
                </td>
                <td>
                    <%=data[i].timestamp.toDateString()%>
                </td>
                <td>
                    <form action="/abc/<%=data[i]._id%>" method=" GET ">
                        <input id="but" type="submit" value="Click Me">
                    </form>

                </td>
            </tr>
            <%}%>

    </table>
    <% include partials/footer1 %>