<% include partials/header %>
<section style="padding-top:20px;padding-bottom:20px;">
    <div class="content">
        <a href="/sanitation">
            <button type="button" name="button" class="lm-button">
            <span><i class="fas fa-clipboard-list" style="color:blue;">List</i></span>
        </button>
        </a>
        <a href="#">
            <button type="button" name="button" class="lm-button">
            <span><i class="fas fa-map-marked-alt" style="color:green;">Map</i></span>
        </button>
        </a>
    </div>
</section>
<section>
  <div class="panel" style="color:black;">
    <div class="camp-heading">
      <h3><a href="#"><span class="icon"><i class="fas fa-building"></i>camp name here</span></a></h3>
    </div>
    <div>
      <span><ul>Address: #address Pincode:#223421 Availability:#75</ul></span>
  </div>
  </div>
</section>
    </div>
    </div>

    <% include partials/footer %>
