<% include partials/header %>
<div class="page-heading">
    <div class="content">
        <i id="page-icon-list" class="fas fa-clipboard-list"> List</i><i class="after">/</i><i id="page-icon-map" class="fas fa-map-marked-alt">
            Map</i>
    </div>
</div>
<% include partials/map %>
            <section class="data">
            <h2>Relief Camps</h2>

        </section>
        </div>
        </div>
        <input hidden type="text" id="name" value="<%= data%>">

        <% include partials/footer %>
